# Supabase Configuration (Phase 9)
VITE_SUPABASE_URL=https://otbqzwcgwkytmfuopauk.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90YnF6d2Nnd2t5dG1mdW9wYXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0ODEyNTgsImV4cCI6MjA5NjA1NzI1OH0.0nNI-3xPd-jsYkxE7N3z3EpKaar8iUQf3bfrS0LwvKc
